<nav class="navbar">
  <div class="navbar-container">
    <!-- Logo -->
    <a class="navbar-logo" routerLink="/">🚗 Smart Park</a>

    <!-- Icône menu pour mobile -->
    <div class="menu-icon" (click)="toggleMenu()">
      <i [ngClass]="menuOpen ? 'fas fa-times' : 'fas fa-bars'"></i>
    </div>

    <!-- Liens de navigation -->
    <ul class="nav-menu" [ngClass]="{ 'active': menuOpen }">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">🏠 Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/abonnement">📜 Abonnement</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/reservations">📅 Réservations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/profile">🙍‍♂️ Profil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link logout" routerLink="/sign-in">🚪 Déconnexion</a>
      </li>
    </ul>
  </div>
</nav>
