<!-- navbar.component.html -->

<header class="fixed w-full bg-white bg-opacity-95 shadow-sm z-50">
  
  <div class="container mx-auto px-6 py-4">
    <div class="flex items-center justify-between">
      <div class="flex items-center">
        <a href="#" class="text-2xl font-['Pacifico'] text-primary">logo</a>
      </div>
      <nav class="hidden md:flex space-x-10" >
        <a
          href="user-dashboard"
          class="text-gray-800 font-medium hover:text-primary transition-colors"
          >Acceuil</a
        >
        <a
          href="abonnement"
          class="text-gray-800 font-medium hover:text-primary transition-colors"
          >Abonnement</a
        >
        <a
          href="profile"
          class="text-gray-800 font-medium hover:text-primary transition-colors"
          >Profil</a
        >
        <a
          href="reservations"
          class="text-gray-800 font-medium hover:text-primary transition-colors"
          >Réservation</a
        >
      </nav>
      <div class="flex items-center space-x-4">
        <a
          href="login"
          class="text-gray-800 font-medium hover:text-primary transition-colors whitespace-nowrap"
          >Connecter</a
        >
        <a
          href="sign-up"
          class="bg-primary text-white px-6 py-2 !rounded-button font-medium hover:bg-primary/90 transition-colors whitespace-nowrap"
          >Inscrire</a
        >
        
      </div>
      <div class="md:hidden w-10 h-10 flex items-center justify-center">
        <button class="text-gray-800">
          <i class="ri-menu-line ri-lg"></i>
        </button>
      </div>
    </div>
  </div>
</header>