<header class="fixed w-full bg-white bg-opacity-95 shadow-sm z-50">
  <div class="container mx-auto px-6 py-4">
    <div class="flex items-center justify-between">
      <a routerLink="/app/user/dashboard" class="text-2xl font-['Pacifico'] text-primary">Logo</a>
      
      <nav class="hidden md:flex space-x-10">
        <a routerLink="/app/user/user-dashboard" routerLinkActive="active">Accueil</a>
        <a routerLink="/app/user/dashboard/profile" routerLinkActive="active">Profil</a>
        <a routerLink="/app/user/dashboard/reservations" routerLinkActive="active">Réservations</a>
        <a routerLink="/app/user/dashboard/abonnements" routerLinkActive="active">Abonnements</a>
      </nav>

      <div class="flex items-center space-x-4">
        <button 
          *ngIf="!authService.isAuthenticated()"
          routerLink="/auth"
          class="nav-button">
          Connexion
        </button>
        <button 
          *ngIf="authService.isAuthenticated()"
          (click)="authService.logout()"
          class="nav-button">
          Déconnexion
        </button>
      </div>
    </div>
  </div>
</header>