<!-- admin-dashboard.component.html -->
<div class="dashboard-container">
  <nav mat-tab-nav-bar>
    <!-- Utilisez la syntaxe de tableau pour les routes imbriquées -->
    <a mat-tab-link 
       *ngFor="let link of navLinks" 
       [routerLink]="['/admin-dashboard', link.path]"
       routerLinkActive="active-link">
      {{ link.label }}
    </a>
  </nav>
  
  <div class="content">
    <!-- router-outlet doit être présent pour les enfants -->
    <router-outlet></router-outlet>
  </div>
</div>