/* Tailwind directives first */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* RemixIcon fonts configuration */
@font-face {
  font-family: 'remixicon';
  src: url('/fonts/remixicon/remixicon.woff2') format('woff2'),
       url('/fonts/remixicon/remixicon.woff') format('woff'),
       url('/fonts/remixicon/remixicon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Global styling */
body {
  @apply bg-gray-50; /* Utilisation de Tailwind */
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  height: 100%;
}

h2 {
  @apply text-gray-800 text-2xl text-center mb-5; /* Tailwind */
}

/* Form container */
form {
  @apply max-w-md mx-auto my-5 bg-white p-5 rounded-lg shadow-md; /* Tailwind */
}

/* Form elements */
label {
  @apply block text-sm mb-2 text-gray-600; /* Tailwind */
}

input, select {
  @apply w-full p-2 mb-5 border border-gray-300 rounded-md text-base bg-gray-50; /* Tailwind */
  width: 95%;
}

input:focus, select:focus {
  @apply border-green-500 outline-none; /* Tailwind */
}

button {
  @apply w-full p-3 bg-purple-800 text-white border-none rounded-md text-lg cursor-pointer; /* Tailwind */
  transition: background-color 0.3s;
}

button:hover {
  @apply bg-purple-900; /* Tailwind */
}

/* Responsive design */
@media (max-width: 600px) {
  form {
    @apply p-4; /* Tailwind */
  }
}

/* Material Overrides */
.mat-typography {
  font-family: 'Arial', sans-serif !important;
}

/* Utilities */
.form-group {
  @apply mb-5; /* Tailwind */
}